html{
	height: 100%;
}

h1{
	font-size: 4em;
	padding-bottom:0px;
	margin-bottom: 0.1em;
}


.logo{
	height: 2em;
	padding: 0.2rem;
}

body{
    color: rgb(0, 0, 0) ;
	/* color: rgb(170, 168, 168);  */
    /* background-image: url('../yousef-espanioly-suKHmXA9GHc-unsplash.jpg'); */
    /* background-image: url('../wolfgang-rottmann-Dmlpqh3kCCU-unsplash.jpg'); */
    background-image: url('../raychan-ly-UOhDx8c0-unsplash.jpg');
    font-family: 'Amaranth';
    /* background-size:cover; */
	background-position: center; 
    
    	
}

.lead , .h2:hover{
    color: rgb(209, 205, 205);
    /* text-decoration: underline; */
}

#body-container1{
    background-color: rgba(127, 127, 127,0.6);
    /* background-color: rgba(0, 0, 0, 0.6); */
}

.img-thumbnail:hover{
    border: 5px solid rgb(5, 77, 105);

}
.img-thumbnail{
    border: 1px solid rgb(5, 77, 105);
    background-color:rgb(122, 165, 182);
    /* background-color: rgba(0,0,0,0.0); */
}



a{
    color:  #b9ac15;
}

nav{
	background-color: #b9ac15;
}
.navbar-toggle{
	color: #b9ac15;
	border-color:#b9ac15;
}

h1,h2{
	text-shadow:1px 1px 2px rgba(245,245,245,1),
				0px 3px 4px rgba(0,0,0,0.4), 
				0px 8px 13px rgba(0,0,0,0.1) , 
				0px 10px 23px rgba(0,0,0,0.1);

}

hr{
	/*height: 1px;*/
	box-shadow: 1px 1px 2px rgba(245,245,245,1),
				0px 3px 4px rgba(0,0,0,0.4), 
				0px 8px 13px rgba(0,0,0,0.1) , 
				0px 10px 23px rgba(0,0,0,0.1);
	color:#b9ac15; 
	background-color:#b9ac15;
    width: 100%;
    /* align-self: flex-start; */
}

.btn-outline-secondary{
	color: #b9ac15;
    border-color: #b9ac15;
    text-shadow:1px 1px 2px rgba(245,245,245,0.1),
				0px 3px 4px rgba(0,0,0,0.4), 
				0px 8px 13px rgba(0,0,0,0.1);

}

.btn-outline-secondary:hover {
    /* color: rgba(245,245,245,0.1); */
	color: #ddadb0;
	background-color: #b9ac15;
	border-color: #b9ac15;
	

}

.dropdown-menu{
    background-color: #b9ac15;
}

.container-fluid{
    background-image: url("samuel-austin-omeaSFHIxYk-unsplash.jpg");
    /*height: 350%;*/
    /* width: 100%; */
    background-size:cover;
	background-position: center; 
}


p{
    text-align:justify;
}

